{{template "header" .}} 
{{template "title" .}}
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="card" style="border-radius: 0;">
              <div class="card-header">
                  <span class="font-weight-bold">Generator</span>

              </div>
              <div class="container">
                <form>
                  <br />
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="border-radius: 0;">Master Key</span>
                    </div>
                    <input class="form-control" name="master" id="master" oninput="generatePassword()" onporpertychange="generatePassword()"
                          style="border-radius: 0;" placeholder="Your master key"/>
                  </div>

                  <br />
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="border-radius: 0;">Account</span>
                    </div>
                    <input class="form-control" name="account" id="account" oninput="generatePassword()" onporpertychange="generatePassword()"
                          style="border-radius: 0;" placeholder="Website and your account"/>
                  </div>

                  <br />
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="border-radius: 0;">Styles</span>
                    </div>
                    <select multiple class="form-control" name="style" id="style" oninput="generatePassword()" onporpertychange="generatePassword()"
                            style="border-radius: 0px;height: 40px;" placeholder="Website and your account">
                        <option value="0" selected>Combine alpha and number</option>
                        <option value="1" >Combine alpha, number and symbols</option>
                        <option value="2" >Pin Code</option>
                    </select>
                  </div>

                  <br />
                  <div class="form-row">
                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-radius: 0;">Length</span>
                          </div>
                          <select multiple class="form-control" id="length" oninput="generatePassword()" onporpertychange="generatePassword()"
                                  style="border-radius: 0;height:50px;" name="length">
                            <option selected>16</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                            <option>12</option>
                            <option>14</option>
                            <option>18</option>
                            <option>20</option>
                            <option>24</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" style="border-radius: 0;">Count</span>
                              </div>
                              <select multiple class="form-control" id="count" oninput="generatePassword()" onporpertychange="generatePassword()"
                                      style="border-radius: 0;height:50px;" name="count">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                              </select>
                            </div>
                      </div>
                  </div>
                  <br />

                  <button type="button"  class="btn btn-success btn-block" 
                    style="border-radius: 0;" 
                    onclick="generatePassword()">
                    Generate
                  </button>

                  <br/>
                </form>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" 
                            placeholder="" id="foo" style="border-radius: 0px;">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" data-clipboard-target="#foo"
                                type="button" id="foo-btn">Copy</button>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md">
          <h3 class="display-4">New Password</h3>
          <p class="display-5">
            Generate a new password and copy it, it is easy to use.
          </p>
          <p>
            Master Key is an import parameter to generate a derived password.
            KEEP IT IN YOUR MIND. 
          </p>
          <p>  
            OPTIONS is website and your account and count is the counter to generate different passwords.
          </p>
          <p>
            For more information, please check DOC page.
          </p>
      </div>
  </div>
</div>

<script>
  var clip = new ClipboardJS('#foo-btn');

  function generatePassword() {
    var obj = {}
    obj['mk'] = document.getElementById("master").value || "";
    obj['account'] = document.getElementById("account").value || "";
    obj['length'] = document.getElementById("length").value;
    obj['style'] = document.getElementById("style").value;
    obj['count'] = document.getElementById("count").value;

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST","/pass",true);
    xmlhttp.setRequestHeader("Content-type","application/json");

    xmlhttp.onreadystatechange=function(){
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          document.getElementById("foo").value=xmlhttp.responseText;
      }
    }

    xmlhttp.send(JSON.stringify(obj));
  }
</script>
{{template "footer" .}} 