{{define "title"}}

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Erpass</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/doc">Doc</a>
      </li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <h1 class="display-4 text-light">Erpass</h1>
      <p class="lead text-light">A simple but security password generator in golang.</p>
    </div>
</div>
{{end}}